.Dark {
    background-color: rgb(33, 37, 41);
    color: white;
}

.btn-close {
    display: none !important;
}

.form-control {
    background-color: rgb(27, 31, 35);
    border: 1px solid rgb(23, 25, 27);
    color: white;
}

.form-control:focus {
    background-color: rgb(27, 31, 35);
    border: 1px solid rgb(23, 25, 27);
    color: white;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.543);
}

.form-label {
    margin: 6px 8px 0 0;
    white-space: nowrap;
}

.form-select {
    background-color: rgb(27, 31, 35);
    border: 1px solid rgb(23, 25, 27);
    color: white;
}

img {
    width: 340px;
    margin-bottom: 16px;
    border-radius: 8px;
}